<form ng-submit="vm.addProduct(product)">
  <p class="control">
    <input class="input" type="text" placeholder="Product Name" ng-model="product.name">
  </p>
  <p class="control has-addons">
    <span class="select">
      <select>
        <option>$</option>
        <option>£</option>
        <option>€</option>
      </select>
    </span>
    <input class="input is-expanded" type="text" placeholder="Product Price" ng-model="product.price">
  </p>
  <p class="control">
    <textarea class="textarea" placeholder="Product Description" ng-model="product.description"></textarea>
  </p>
  <p class="control">
    <button class="button">Add Product</button>
  </p>
</form>