<div class="products">
  <div class="card" ng-repeat="product in vm.products">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="http://placehold.it/200x200" alt="{{ product.name }}">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-5">{{ product.name }}</p>
          <p class="subtitle is-6">${{ product.price }}</p>
        </div>
      </div>
      <div class="content">
        <button class="button">Add to Cart</button>
      </div>
    </div>
  </div>
</div>