<header>
  <nav class="nav">
    <div class="nav-left">
      <a class="nav-item" href="#">OK Shop</a>
    </div>

    <div class="nav-right nav-menu">
      <a class="nav-item" href="/#/">Home</a>
      <a class="nav-item" href="/#/add-product">Add</a>

      <span class="nav-item">
        <a class="button is-primary" href="#">
          <span class="cart-count">0</span>
          <span>Items In Cart</span>
        </a>
      </span>
    </div>
  </nav>
</header>

<div class="wrapper" ui-view></div>


<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>Buy our stuff</p>
    </div>
  </div>
</footer>