<form ng-submit="vm.createUser(user)">
  <p class="control">
    <input class="input" type="text" placeholder="First Name" ng-model="user.first_name">
  </p>
  <p class="control">
    <input class="input" type="text" placeholder="Last Name" ng-model="user.last_name">
  </p>
  <p class="control">
    <input class="input" type="text" placeholder="User Name" ng-model="user.username">
  </p>
  <p class="control">
    <input class="input" type="email" placeholder="Email" ng-model="user.email">
  </p>
  <p class="control">
    <input class="input" type="password" placeholder="Password" ng-model="user.password">
  </p>
  <p class="control">
    <button class="button is-success">Register</button>
  </p>
</form>